spring:
  application:
    name: spring-boot
  datasource:
    url: jdbc:postgresql://localhost:5332/karis
    username: kariioke
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    show-sql: true